<html>
<head>
<title>cors.io</title>
<style>
hr { width: 20%; }

.contributors { margin-top: 8px; font-size: 12px; }
</style>
</head>
<body><center><br><br>

<big><b>The Problem:</b></big><br>
No 'Access-Control-Allow-Origin' header is present on the requested resource.
<br>Origin 'http://internet.derp' is therefore not allowed access.<br><br>

<big><b>The Solution:</b></big><br>
A CORS proxy!<br><br>


$.getJSON('https://httpbin.org/get?cors=a_problem',function(){})<br><br>

becomes ..<br><br>

$.getJSON('<b>http://cors.io/?</b>https://httpbin.org/get?cors=a_problem',function(){})<br><br>

<hr>

$.post('https://httpbin.org/post',data,function(){})<br><br>

becomes ..<br><br>

$.post('<b>http://cors.io/?</b>https://httpbin.org/post',data,function(){})<br><br>

send hatemail to <a href="https://twitter.com/deanpierce">@deanpierce</a><br>
<span class="contributors">contributors: <a href="https://twitter.com/nizarmah_">@nizarmah_</a></span>
